body {
  font-family:georgia;
  color:rgb(2,48,32);
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 2cm;
  margin-bottom: 2cm;
}
#index {
  outline: 2px groove rgb(2,48,32);
}
#links{
  font-size: 10px;
}
